* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: auto;
    width: 150px;
}

.login-button {
    padding: 1rem 2rem;
    background-color: #0000FF;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.place-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #F52727;
}

.details-button {
    padding: 0.5rem 1rem;
    background-color: #0000FF;
    color: #0f0707;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #27B7F5;
}

.place-info {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #F52727;
}